body{
	background-image : url(fond.jpg);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
#menu {
    background-color: beige;
    border-collapse: collapse;
    margin: 0 auto;          /* centre le tableau */
    height: 36px;
}

#menu th {
    padding: 0 20px;         /* espace horizontal */
    color: black;
    font-weight: bold;
    text-align: center;
    height: 36px;
}

