body{
  background-image : url(fond.jpg);
  background-color : beige;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#menu{
  height: 36px;
	background-color: beige;
	float: center;
	color: white;
}
